<script setup lang="ts">
import {professionItem} from "~/models/schools.model";

export type props={
  profession:professionItem
}
const props = defineProps<props>()
</script>

<template>
  <div class="tile">
    <div class="tile__photo">
      <img class="tile__photo-img" src="~/assets/img/building.jpg" alt="">
    </div>
    <div class="tile__text">
      <p class="tile__text-name">{{props.profession.Name}}</p>
      <p class="tile__text-name">{{props.profession.Description}}</p>
      <p class="tile__text-addres">{{props.profession.ProfessionType.Name}}</p>
      <p v-for="univer in props.profession.Universities">{{univer.ShortName}}</p>
      <button class="main_button">Редактировать</button>
    </div>
  </div>
</template>

<style scoped lang="scss">
.main_button{
  width: 80%;
  margin-left: 0;
  height: 2.5rem;
}
</style>