<script setup lang="ts">
import {schoolsItem} from "~/models/schools.model";

export type props={
  school:schoolsItem
}
const props = defineProps<props>()
</script>

<template>
  <div class="tile">
    <div class="tile__photo">
      <img class="tile__photo-img" src="~/assets/img/building.jpg" alt="">
    </div>
    <div class="tile__text">
      <p class="tile__text-name">{{props.school.ShortName}}</p>
      <p class="tile__text-addres">{{props.school.Address}}</p>
      <button class="main_button" @click="navigateTo(`/schools/${props.school.Id}`)">Редактировать</button>
    </div>
  </div>
</template>

<style scoped lang="scss">
.main_button{
  width: 80%;
  margin-left: 0;
  height: 2.5rem;
}
</style>