<script setup lang="ts">
import {universityItem} from "~/models/schools.model";

export type props={
  university:universityItem
}
const props = defineProps<props>()
</script>

<template>
  <div class="tile">
    <div class="tile__photo">
      <img class="tile__photo-img" src="~/assets/img/building.jpg" alt="">
    </div>
    <div class="tile__text">
      <p class="tile__text-name">{{props.university.ShortName}}</p>
      <p class="tile__text-name">{{props.university.Description}}</p>
      <p class="tile__text-addres">{{props.university.Address}}</p>
      <p v-for="profession in props.university.Professions">{{profession}}</p>
      <button class="main_button">Редактировать</button>
    </div>
  </div>
</template>

<style scoped lang="scss">
.main_button{
  width: 80%;
  margin-left: 0;
  height: 2.5rem;
}
</style>