<script setup lang="ts">
import {useUniversitiesStore} from "~/stores/UniversitiesStore"
import {storeToRefs} from "pinia";

const univerStore = useUniversitiesStore()
const {fetchUniversitiesList} = univerStore
await fetchUniversitiesList()

const {getUniversities} = storeToRefs(univerStore)

</script>

<template>
  <div class="grid__container">
    <UniversityCardComponent v-for="univer in getUniversities"
                             :key="univer.Id"
                             :university="univer"
    />
  </div>
</template>

<style scoped lang="scss">

</style>