@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #__nuxt {
  //height: 100%;
  font-family: Inter, serif;
}

.login {
  display: flex;


  &__main {
    display: flex;
    justify-content: center;
    margin: auto 0;
    width: 50%;

    &_form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1.5rem;

      label {
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: .2rem;
      }

      &-title {
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: 2rem;
      }


    }
  }

  &__photo {
    width: 50%;
    min-height: 100vh;
    border-radius: 0 4.8rem 4.8rem 0;
    background-image: url('assets/img/classmates.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

}
.main_button {
  width: 30%;
  margin-left: auto;
  background: none;
  border-radius: 2rem;
  cursor: pointer;
  height: 1.5rem;
  border: 2px solid #D1C4E9;
  transition: all .3s ease-out;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

.main_button:hover {
  background: #673AB7;
  color: #fff;
  border: 2px solid #673AB7;
  transition: all .3s ease-out;
}
.nuxt-link-exact-active {

}

.router-link-exact-active {
  color: #673AB7 !important;
  //font-weight: 700;
  //font-size: 3rem;
}

.grid__container {
  margin: 5rem 3rem;
  display: grid;
  grid-template-columns: repeat( 3, 1fr);
  grid-auto-columns: 1fr;
  gap: 1rem
}

.tile {
  display: flex;
  width: 40rem;
  height: 20rem;
  border: 3px solid #673AB7;
  border-radius: 1.5rem;
  gap: 1.5rem;

  &__photo {
    padding: 1rem;

    &-img {
      border-radius: .8rem;
      width: 100%;
      height: 100%
    }
  }

  &__text {
    display: flex;
    padding: 1rem 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    &-name {
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 132%;
    }

    &-addres {
      font-size: 1rem;
      font-style: normal;
      font-weight: 300;
      line-height: 1rem;
    }

    &-description {
      font-size: 1rem;
      font-style: normal;
      font-weight: 300;
      line-height: 1rem;
    }
  }
}

.edit{
  margin: 0 10rem;
  display: flex;
  flex-direction: column;
}



@media screen and (max-width: 3020px) {
  .grid__container {
    grid-template-columns: repeat( 3, 1fr);
  }
}
@media screen and (max-width: 2020px) {
  .grid__container {
    grid-template-columns: repeat( 2, 1fr);
  }
  @media screen and (max-width: 1600px) {
    .grid__container {
      grid-template-columns: repeat( 1, 1fr);
    }
  }
}
