<script setup lang="ts">
import {useSchoolsStore} from "~/stores/SchoolsStore";
import {storeToRefs} from "pinia";
import {useRouter} from "#app";

definePageMeta({
  layout: false
})


const route = useRoute()
const router = useRouter()
const schoolStore = useSchoolsStore()
const {fetchOneSchools} = useSchoolsStore()
await fetchOneSchools(Number(route.params.id))
const {getOneSchool} = storeToRefs(schoolStore)

let shortName: string = ref<string>('')
let fullName: string = ref<string>('')
let address: string = ref<string>('')
let template: number = ref<number>(null)
let number: number = ref<number>(null)
const fillModels = function () {
  shortName = getOneSchool.value.ShortName
  fullName = getOneSchool.value.FullName
  address = getOneSchool.value.Address
  template = getOneSchool.value.Template
  number = getOneSchool.value.Number
}
fillModels()

const submit = async function () {
  const {editSchool} = useSchoolsStore()
  let editedSchool = {
    id: route.params.id,
    Template: template,
    Number: number,
    ShortName: shortName,
    FullName: fullName,
    Address: address
  }
  await editSchool(editedSchool)
}
</script>

<template>
  <span class="back-button" @click="router.go(-1)">
    <svg data-v-501b9cf4="" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path
        data-v-501b9cf4=""
        d="M8.75 16.4297L9.63125 15.5484L4.89375 10.8047H17.5V9.55469H4.89375L9.63125 4.81094L8.75 3.92969L2.5 10.1797L8.75 16.4297Z"
        fill="#D1C4E9"></path></svg>
    Назад</span>

  <div class="edit">
    <p>Изменение данных школы {{ shortName }} </p>
    <form action="#" @submit.prevent="submit" class="login__main_form">
      <div class="field field_v3">
        <label class="ha-screen-reader">Короткое имя</label>
        <input class="field__input" v-model="shortName" placeholder="Короткое имя" required>
        <span class="field__label-wrap" aria-hidden="true">
             <span class="field__label">Короткое имя</span>
          </span>
      </div>
      <div class="field field_v3">
        <label class="ha-screen-reader">Полное имя</label>
        <input class="field__input" v-model="fullName" placeholder="Полное имя" required>
        <span class="field__label-wrap" aria-hidden="true">
             <span class="field__label">Полное имя</span>
          </span>
      </div>
      <div class="field field_v3">
        <label class="ha-screen-reader">Адрес</label>
        <input class="field__input" v-model="address" placeholder="Адрес" required>
        <span class="field__label-wrap" aria-hidden="true">
             <span class="field__label">Адрес</span>
          </span>
      </div>
      <div class="field field_v3">
        <label class="ha-screen-reader">Шаблон</label>
        <input class="field__input" v-model="template" placeholder="1" type="number" required>
        <span class="field__label-wrap" aria-hidden="true">
             <span class="field__label">Шаблон</span>
          </span>
      </div>
      <div class="field field_v3">
        <label class="ha-screen-reader">Номер</label>
        <input class="field__input" v-model="number" placeholder="Номер" type="number" required>
        <span class="field__label-wrap" aria-hidden="true">
             <span class="field__label">Номер</span>
          </span>
      </div>
      <button class="main_button" type="submit">Редактировать</button>
    </form>
  </div>
</template>

<style scoped lang="scss">
.main_button {
  width: 100%;
  height: 5rem;
}

form {
  margin-top: 2rem;
}

.back-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: .5rem;
  margin: 2rem 3rem 0;
  width: fit-content;
}
</style>