<script setup lang="ts">
import {useSchoolsStore} from "~/stores/SchoolsStore";
import {storeToRefs} from "pinia";
import SchoolCardComponent from "~/components/SchoolCardComponent.vue";


//Создаем экземпляр стора
const schoolStore = useSchoolsStore()
//Вытаскиваем из экземпляра наш геттер
const { getSchools } = storeToRefs(schoolStore)
// Вытаскиваем экшн для получения данных
const { fetchSchoolsList } = schoolStore
// Вызываем функцию получения данных
await fetchSchoolsList()
</script>

<template>
 <div class="grid__container">
   <SchoolCardComponent v-for="(item) in getSchools"
                  :key="item.Id"
                  :school="item"
   />
 </div>
</template>



<style scoped lang="scss">

</style>