<template>
  <div class="wrapper">
    <div class="menu">
      <div class="menu__container">
        <p>Разделы</p>
        <div class="menu__container_item" v-for="(menu,index) in MenuList" :key="index">
          <NuxtLink class="menu__container_item-link" :to="menu.path">
            {{ menu.name }}
          </NuxtLink>
        </div>
      </div>
    </div>
    <slot/>
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue'

interface State {
  MenuList: {
    name: string,
    path: string
  }[],
}

export default defineComponent({
  name: "default",
  data(): State {
    return {
      MenuList: [
        {name: "Школы", path: '/schools'},
        {name: "Университеты", path: '/universities'},
        {name: "Профессии", path: '/professions'},
      ],
    }
  }
})
</script>

<style scoped lang="scss">
.menu {
  width: 25%;
  min-height: 100vh;
  background-color: #D1C4E9;
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    justify-content: center;
    top: 4rem;
    left: 4.5%;

    p {
      font-size: 3rem;
      font-style: normal;
      font-weight: 500;
      line-height: 2rem;
    }

    &_item {

      &-link {
        color: #fff;
        transition: all .3s ease;
        text-decoration: none;
        font-weight: 700;
        font-size: 1.3rem;
      }

      &-link:hover {
        transition: all .3s ease;
        border-bottom: 1px solid #ffffff;
      }
    }
  }

}

.wrapper {
  display: flex;
}
</style>