<script setup lang="ts">
import {useProfessionsStore} from "~/stores/ProfessionsStore";
import {storeToRefs} from "pinia";
import ProfessionCardComponent from "~/components/ProfessionCardComponent.vue";

const professonStore = useProfessionsStore()
const {fetchProfessionsList} = professonStore
await fetchProfessionsList()
const {getProfessions} = storeToRefs(professonStore)
</script>


<template>
  <div class="grid__container">
    <ProfessionCardComponent v-for="profession in getProfessions"
                             :profession="profession"
                             :key="profession.Id"/>
  </div>
</template>

<style scoped lang="scss">

</style>