<template>
  <div class="login">
    <div class="login__photo">
    </div>
    <div class="login__main">
      <form action="#" @submit.prevent="submit" class="login__main_form">
        <p class="login__main_form-title">Добро пожаловать в систему <br/> SmartStudents</p>
        <div class="field field_v3">
          <label for="email" class="ha-screen-reader">Логин</label>
          <input :keyup.enter="submit" v-model="login" id="email" class="field__input" placeholder="Логин" required>
          <span class="field__label-wrap" aria-hidden="true">
             <span class="field__label">Логин</span>
          </span>
        </div>
        <div class="field field_v3">
          <label for="password" class="ha-screen-reader">Пароль</label>
          <input :keyup.enter="submit" v-model="password" type="password" id="password" class="field__input" placeholder="Пароль"
                 required>
          <span class="field__label-wrap" aria-hidden="true">
             <span class="field__label">Пароль</span>
          </span>
        </div>
        <button class="main_button" type="submit">Войти</button>
      </form>
    </div>

  </div>
</template>

<script lang="ts">
import {defineComponent} from "vue";

definePageMeta({ layout: false })
interface State {
  login: string,
  password: string
}


export default defineComponent({
  name: "auth",
  data(): State {
    return {
      login: '',
      password: '',
    }
  },
  methods: {
     submit() {
       navigateTo('/schools')
    }
  }
})
</script>

<style scoped>

</style>